<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
  <h2 class="text-center">Job-details</h2>
  <hr>
  <div class="pull-right">
    <%= link_to("Apply Job", new_job_resume_path(@job), class: "btn btn-primary btn-sm") %>
  </div>
  <p>Title: <%= @job.title %></p>
  <p>Salary: <%= @job.wage_lower_bound %> ~ <%= @job.wage_upper_bound %></p>
  <p>Contact: <%= @job.contact_email %></p>
  <p>Published: <%= @job.created_at %></p>
</div>
