<div class="col-lg-10 col-lg-offset-1">
  <hr>
  <div class="pull-right">
    <%= link_to("Add a Job", new_admin_job_path, class: "btn btn-primary btn-sm") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>Title</td>
        <td>Lower Salary</td>
        <td>Upper Salary</td>
        <td>Publish Time</td>
        <td>Resume Count</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td>
            <%= render_job_status(job) %>
            <%= link_to(job.title, admin_job_path(job)) %>
          </td>
          <td><%= job.wage_lower_bound %></td>
          <td><%= job.wage_upper_bound %></td>
          <td><%= job.created_at %></td>
          <td>
            <%= link_to(job.resumes.count, admin_job_path(job)) %>
          </td>
          <td>
            <%= link_to('<i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>'.html_safe, edit_admin_job_path(job)) %> |
            <%= link_to('<i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>'.html_safe, admin_job_path(job), method: :delete, data: { confirm: "Are your sure?" }) %> |
            <% if job.is_hidden %>
              <%= link_to('<i class="fa fa-eye fa-lg" aria-hidden="true"></i>'.html_safe, publish_admin_job_path(job), method: :post) %>
            <% else %>
              <%= link_to('<i class="fa fa-eye-slash fa-lg" aria-hidden="true"></i>'.html_safe, hide_admin_job_path(job), method: :post) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
