<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
  <h2 class="text-center">Job-details</h2>
  <hr>
  <div class="pull-right">
    <%= link_to("Edit", edit_admin_job_path(@job), class: "btn btn-primary btn-sm") %>
    <%= link_to("Destroy", admin_job_path(@job), class: "btn btn-danger btn-sm", method: :delete, data: { confirm: "Are you sure?" }) %>
  </div>
  <p>Title: <%= @job.title %></p>
  <p>Description: <%= simple_format(@job.description) %></p>
  <p>Salary: <%= @job.wage_lower_bound %> ~ <%= @job.wage_upper_bound %></p>
  <p>Contact: <%= @job.contact_email %></p>
  <p>Published: <%= @job.created_at %></p>

  <% @resumes.each do |resume| %>
    <div class="panel panel-default">
      <div class="panel-heading"><%= resume.user.email %></div>
      <div class="panel-body"><%= resume.content %></div>
      <div class="panel-footer">
        <% if resume.attachment.present? %>
        <i class="fa fa-paperclip"></i>
          <%= link_to("Download Resume", resume.attachment_url) %>
        <% else %>
          No Attachment
        <% end %>
      </div>
    </div>
  <% end %>
</div>
